@{
    ViewData["Title"] = "Успішна реєстрація";
}

<h2>Дякуємо за реєстрацію!</h2>
<p>Ви успішно зареєстровані на івент.</p>

<a asp-controller="Admin" asp-action="Index" class="btn btn-secondary">Повернутися до списку івентів</a>
